*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    182.65deg,
    #78c9ce 0%,
    #2496a2 99.98%,
    #2496a2 100%
  );
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

header .rectangle {
  position: absolute;
  top: 43px;
  left: 0;
  height: 7px;
  width: 100%;
  opacity: 0.3;
  transform: scaleY(-1);
  background-color: #ffffff;
}

nav {
  width: 320px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #2da1ad;
}

nav .contacts {
  position: relative;
  color: #27919d;
  font-weight: bold;
  padding: 16px 40px;
  text-align: center;
  cursor: pointer;
}

nav .line {
  width: 1px;
  height: 15px;
  background-color: #bbc4c3;
}

nav .favorites {
  color: #adb8b6;
  font-weight: bold;
  padding: 16px 40px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 325px;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: 0 2px 34px 0 #e3e3e3;
  margin-top: 23px;
}

.search-box .search {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.search-box .search-icon {
  margin-left: 23px;
  height: 18px;
  width: 17px;
}

#homepage,
#favoritepage {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  width: 360px;
  border: 1px dashed #2da1ad;
  opacity: 0.5;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
}

.add-box {
  width: 92px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 23px;
}

.add-box .add-icon {
  width: 18px;
  height: 18px;
}

.add-box .add-text {
  height: 17px;
  width: 54px;
  color: #27919d;
  text-align: center;
}

.contact-card {
  display: flex;
  align-items: center;
  width: 360px;
  height: 60px;
  border: 1px solid rgba(187, 196, 195, 0.4);
  border-radius: 4px;
  margin-top: 10px;
}

.contact-card .contact-image {
  height: 46px;
  width: 46px;
  border: 3px solid rgba(187, 196, 195, 0.3);
  border-radius: 50%;
  margin-left: 13px;
  cursor: pointer;
}

.contact-card .contact-name {
  margin-left: 25px;
  height: 17px;
  width: 109px;
  color: #adb8b6;
  font-weight: bold;
  cursor: pointer;
}

.contact-card .heart-icon {
  margin-left: 42px;
  cursor: pointer;
}

.contact-card .pencil-icon {
  margin-left: 33px;
  cursor: pointer;
}

.contact-card .trash-icon {
  margin-left: 32px;
  cursor: pointer;
}

.back-section {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(187, 196, 195, 0.5);
}

.back-section .back-btn {
  margin-left: 29px;
  cursor: pointer;
}

.photo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 200px;
  margin: 0 auto;
  border-bottom: 2px solid #2da1ad;
}

.photo-section .photo-box {
  position: relative;
  height: 156px;
  width: 156px;
  border: 3px solid rgba(187, 196, 195, 0.3);
  background-color: rgba(45, 161, 173, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

.photo-box .contact-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 156px;
  width: 156px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.photo-box .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  width: 325px;
}

input[type="file"] {
  display: none;
}

.details-section label {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.details-section .label-text {
  color: #27919d;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}

.details-section input {
  padding-left: 25px;
  height: 50px;
  width: 325px;
  border: 1px solid #bbc4c3;
  opacity: 0.4;
  border-radius: 4px;
}

.number {
  margin: 10px 0;
}

.label-remove {
  display: flex;
  align-items: center;
}

.label-remove .label {
  width: 275px;
}

.remove-btn {
  width: 31px;
  height: 31px;
  margin-left: 18px;
  border: 1px solid #bbc4c3;
  opacity: 0.5;
  background-color: #ffffff;
  border-radius: 50%;
}

.cross-icon {
  height: 8px;
  width: 8px;
}

.add-number-fields {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 69px;

  .circle {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid #2da1ad;
    border-radius: 50%;
    cursor: pointer;
  }

  .add-number-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.error-message {
  text-align: center;
  width: 325px;
  color: red;
  margin-bottom: 40px;
}

.details-section .btns {
  margin-bottom: 33px;
}

#btn-cancel {
  width: 160px;
  height: 42px;
  border-radius: 28.5px;
  background-color: #bbc4c3;
  border: none;
  color: #ffffff;
}

#btn-save {
  margin-left: 5px;
  width: 160px;
  height: 42px;
  border-radius: 28.5px;
  background-color: #2da1ad;
  border: none;
  color: #ffffff;
}

#details-page .back-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#details-page .heart-icon {
  margin-right: 34px;
  cursor: pointer;
}

#details-page .pencil-icon {
  margin-right: 30px;
  cursor: pointer;
}

.photo-name {
  width: 325px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #2da1ad;
}

.photo-name .contact-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid rgba(187, 196, 195, 0.3);
}

.photo-name .contact-name {
  margin-left: 23px;
  color: #adb8b6;
  font-size: 21px;
  font-weight: bold;
  line-height: 28px;
}

.container {
  width: 325px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container .detail-email {
  height: 120px;
  padding: 30px 25px;
}

.detail-email .email {
  margin-left: 9px;
  color: #27919d;
  font-weight: bold;
  line-height: 19px;
}

.logo-mail-wrapper {
  margin-bottom: 12px;
}

.detail-email .email-span {
  margin-left: 24px;
  color: #adb8b6;
}

.numbers-logo {
  padding: 0 25px;
  display: flex;
  align-items: center;

  .numbers-span {
    margin-left: 9px;
    color: #27919d;
    font-weight: bold;
    line-height: 19px;
  }
}

.numbers-wrapper {
  width: 325px;

  .number-pairs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    text-align: left;
    margin: 0 50px;

    .label {
      font-weight: bold;
      color: #adb8b6;
    }

    .number {
      font-size: 16px;
      font-weight: normal;
      color: #adb8b6;
      text-decoration: underline;
    }
  }
}
